@import url("https://fonts.googleapis.com/css2?family=Englebert&family=Onest:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue-haas-grotesk Bold";
  src: url("/neue-haas-grotesk-display-pro/NeueHaasDisplayBold.ttf");
}

@font-face {
  font-family: "Neue-haas-grotesk Medium";
  src: url("/neue-haas-grotesk-display-pro/NeueHaasDisplayRoman.ttf");
}

@font-face {
  font-family: "Neue-haas-grotesk Regular";
  src: url("/neue-haas-grotesk-display-pro/NeueHaasDisplayRoman.ttf");
}

.englebert-regular {
  font-family: "Englebert", cursive;
  font-weight: 400;
  font-style: normal;
}

.onest-regular {
  font-family: "Onest", sans-serif;
}

body {
  @apply bg-black text-white px-4 py-6;
  font-family: "Neue-haas-grotesk Regular", sans-serif;
}
